.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

body {
  background-image: url("C:\Users\simon\react\pkg-management-react\src\assets\pkg-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

.home {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(226, 226, 243);
}

.card {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(226, 226, 243);
  margin-top: 100px;
}

.p {
  text-align: center;
}

.btn {
  height: 75px;
  width: 300px;
}
